<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Application de Suivi des Portefeuilles{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="{{ url_for('index') }}">Portefeuille App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('index') }}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('voir_fonds') }}">Fonds</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('voir_instruments') }}">Instruments</a>
                </li>
            </ul>
        </div>
    </nav>

    <header class="bg-light py-5">
        <div class="container text-center">
            <h1 class="display-4">{% block header_title %}Bienvenue{% endblock %}</h1>
            <p class="lead">{% block header_text %}Bienvenue sur notre application de suivi des portefeuilles.{% endblock %}</p>
        </div>
    </header>

    <main class="container my-5">
        {% block content %}
        <!-- Le contenu spécifique aux pages sera inséré ici -->
        {% endblock %}
    </main>

    <footer class="bg-dark text-white py-3">
        <div class="container text-center">
            <p class="mb-0">© 2024 Application de Suivi des Portefeuilles. Tous droits réservés.</p>
        </div>
    </footer>

    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
